{% extends 'base.html' %}

{% include 'admin/navbar.html' %}

{% block title %}{% endblock title %}

{% block body %}
<h5 class="green-text">Site administrator</h5>

<div class="row">
	<div class="col s12 l8">
		<!-- Admin & Customers -->
		<ul class="collection with-header">
			<li class="collection-header green accent-4 white-text"><h6>Users</h6></li>
			<li class="collection-item"><a href="{{ url_for('admin.admin_list') }}">Admin</a></li>
			<li class="collection-item"><a href="{{ url_for('admin.customer_list') }}">Customers</a></li>
		</ul>
	</div>
	
	<!-- Admin message -->
	<div class="col l4 hide-on-med-and-down">
		<div class="card-panel">
			<h6>Hello {{ session.admin.username }}</h6>
			<small>As site administrator you can modify all the tables</small>
		</div>
	</div>
	
	<!-- Addresses, cities, countries -->
	<div class="col s12 l8">
		<ul class="collection with-header">
			<li class="collection-header green accent-4 white-text"><h6>Addresses</h6></li>
			<li class="collection-item"><a href="{{ url_for('admin.address_list') }}">Addresses</a></li>
			<li class="collection-item"><a href="{{ url_for('admin.city_list') }}">Cities</a></li>
			<li class="collection-item"><a href="{{ url_for('admin.country_list') }}">Countries</a></li>
		</ul>
	</div>

	<!-- Products & Categories --->
	<div class="col s12 l8">
		<ul class="collection with-header">
			<li class="collection-header green accent-4 white-text"><h6>Catalog</h6></li>
			<li class="collection-item"><a href="{{ url_for('admin.product_list') }}">Products</a></li>
			<li class="collection-item"><a href="{{ url_for('admin.category_list') }}">Categories</a></li>
		</ul>
	</div>
	
	<!-- Stores -->
	<div class="col s12 l8">
		<ul class="collection with-header">
			<li class="collection-header green accent-4 white-text">Stores</li>
			<li class="collection-item"><a href="{{ url_for('admin.store_list') }}">Stores</a></li>
		</ul>
	</div>
</div>
{% endblock body %}

