{% extends 'base.html' %}

{% include 'admin/navbar.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="card">
	<div class="card-content">
		<div class="row valign-wrapper">
			<div class="col s10"><span class="card-title">Cities</span></div>
			<div class="col s2 right">
				<a href="{{ url_for('admin.city_create') }}" class="blue-text">
					Add City
				</a>
			</div>
		</div>

		<table class="highlight responsive-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Country</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for c in city_list %}
				<tr>
					<td>{{ c.city_id }}</td>
					<td>{{ c.name }}</td>
					<td>{{ c.country_name }}</td>
					<td><a href="{{ url_for('admin.city_update', id=c.city_id) }}"><i class="tiny material-icons green-text">edit</i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock body %}
