{% extends 'base.html' %}

{% block title %}New country{% endblock title %}

{% include 'admin/navbar.html' %}

{% block body %}
<div class="row">
	<div class="col l8 offset-l2 s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Add country</span>
				<form action="" method="post">
					{{ form.csrf_token() }}
					<div class="input-field">
						{{ form.name(class="validate") }}
						{{ form.name.label() }}
					</div>	
					<div class="input-field">
						{{ form.submit(class="btn green accent-4 white-text") }}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
