{% extends 'base.html' %}

{% include 'admin/navbar.html' %}

{% block title %}{% endblock title %}

{% block body %}
<div class="card">
	<div class="card-content">
		<div class="row valign-wrapper">
			<div class="col s10"><span class="card-title">Customers</span></div>
			<div class="col s2 right">
				<a href="{{ url_for('admin.customer_create') }}" class="green-text">
					Add customer
				</a>
			</div>
		</div>
		<table class="highlight responsive-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Joined on</th>
					<th>Is active</th>
					<th>Store</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for c in customer_list %}
				<tr>
					<td>{{ c.user_id }}</td>
					<td>{{ c.firstname }}</td>
					<td>{{ c.lastname }}</td>
					<td>{{ c.email }}</td>
					<td>{{ c.joined_on.strftime('%d %b %Y') }}</td>
					<td>{{ c.is_active }}</td>
					<td>{{ c.store_id }}</td>
					<td><a href="{{ url_for('admin.customer_delete', id=c.user_id) }}"><i class="tiny material-icons red-text">clear</i></a></td>
					<td><a href="{{ url_for('admin.customer_update', id=c.user_id) }}"><i class="tiny material-icons green-text">edit</i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock body %}
