[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-wtf = "*"
pyyaml = "*"
pymysql = "*"
python-dotenv = "*"
gunicorn = "*"
flask-login = "*"
sentry-sdk = {extras = ["flask"],version = "==0.14.0"}
flask-uploads = "*"

[requires]
python_version = "3.8"
