[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-mysqldb = "*"
flask-wtf = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
