<nav class="nav-extended">
    <div class="nav-wrapper blue-grey darken-2">
    	<div class="container">
			<a href="{{ url_for('main.index') }}" class="brand-logo hide-on-med-and-down">
				<i class="material-icons">shop</i>
			</a>
			<a href="" data-target="sidenav-links" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ url_for('catalog.category_list') }}">Categories</a></li>
				<li><a href=""><i class="material-icons">shopping_cart</i></a></li>
				{% if not g.user %}
				<li><a href="{{ url_for('users.user_login') }}" class="btn-small waves-effect waves-dark white green-text">Login</a></li>
				<li><a href="{{ url_for('users.register') }}">Create account</a></li>
				{% else %}
				<li><a href="{{ url_for('users.logout') }}" class="btn-small waves-effect waves-dark white green-text">Logout</a></li>	
				<li><a href="{{ url_for('users.user_dashboard') }}">Account</a></li>
				{% endif %}
			</ul>
		</div>
    </div>
</nav>

<ul class="sidenav" id="sidenav-links">
	<li><a href="{{ url_for('catalog.category_list') }}">Categories</a></li>
	<li><a href="{{ url_for('users.user_login') }}">Login</a></li>
	<li><a href="{{ url_for('users.register') }}">Register</a></li>
</ul>
