<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../static/custom.css">

    <!--Import Google Icon Font-->      
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>    
</head>
<body>
   
    <!-- Header & Navbar here -->
    
    	<nav class="nav-extended green">
    		<div class="nav-wrapper">
				<div class="container">
					<a href="{{ url_for('main.index') }}" class="brand-logo">Bahanapedia</a>
					<a href="" data-target="sidenav-links" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>	
					<ul class="right hide-on-med-and-down">
						<li><a href="{{ url_for('catalog.category_list') }}">Categories</a></li>
						<li>
							<a href="#">
								<i class="tiny material-icons">shopping_cart</i>
							</a>
						</li>
						<li><a href="" class="btn-small white green-text">Login</a></li>
						<li><a href="{{ url_for('users.register') }}">Create account</a></li>
					</ul>
				</div>
    		</div> 
    		<!--
    		<div class="nav-content center-align hide-on-med-and-down">
				<span class="nav-title">One Stop Shop</span>	
    		</div>
    		-->
    	</nav> 

    <!-- Sidenav -->
    <ul class="sidenav" id="sidenav-links">
    	<li><a href="">Bahanapedia</a></li>
		<li><a href="">Category</a></li>
		<li><a href="">Login</a></li>
		<li><a href="">Register</a></li>
    </ul>
    
    <!-- Main content -->
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <!-- Footer here -->

    <!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.sidenav').sidenav();
		})
	</script>
</body>
</html>
