{% extends 'base.html' %}

{% block title %}Basket{% endblock %}

{% block body %}
<h4>Basket</h4>
<div class="row">
	{% for basket in basket_list %}
	<div class="col s4">
		<div class="card">
			<div class="card-image">
				<img src="../static/img/product_default.jpg" alt="">
					<a href="" class="btn-floating halfway-fab waves-effect waves-light green">
					<i class="material-icons">add</i>
					</a>
					</div>
			<div class="card-content">
			<span class="card-title">{{ basket.name }}</span>
				<p class="truncate">{{ basket.description }}</p>
			</div>
			<div class="card-action">
				<a href="">$ {{ basket.price }}</a>
				<a href="">Quantity:{{ basket.quantity }}</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% for price in total_price %}
	<div id="footer">
        <div id="center">
            <div class="card-action center-align">			
			Price:$
				<span class="card-title">{{ price.total }}</span>
				<a href="{{ url_for('users.payment') }}" class="green-text">Pay</a>
			</div>
        </div>
    </div>
	{% endfor %}
{% endblock body %}
