{% extends 'base.html' %}

{% block title %}Basket{% endblock %}

{% include 'includes/navbar.html' %}

{% block body %}
<div class="card">
	<div class="card-content">
		<span class="card-title">Shopping Cart</span>
		<table class="striped responsive-table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
{% endblock body %}
