{% extends 'base.html' %}

{% block title %}Basket{% endblock %}

{% include 'includes/navbar.html' %}

{% block body %}
<div class="card">
	<div class="card-content">
		<span class="card-title">Shopping Cart</span>
		{% if session.cart_item %}
		<table class="striped responsive-table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{% for key in session.cart_item %}
				<tr>
					<td> {{key}} </td>
					<td> {{session.cart_item[key]['qty']}}</td>
					<td> {{ session.cart_item[key]['price'] }} </td>
				</tr>
				{% endfor %}
			</tbody>
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th> Total Price: {{ total_price }} </th>
				</tr>
			</thead>
		</table>

		<div class="row valign-wrapper">
			<div class="col s10">
				<form action="" method="POST">
					{{ form.csrf_token() }}
					<div class="input-field">
						{{ form.clear(class='btn yellow white-text') }}
					</div>
				</form>
			</div>
			<div class="col s2"><a href="{{ url_for('orders.order_confirm') }}" class="btn green white-text">Payment method</a></div>
		</div>
		{% else %}
		<h6>Your shopping cart is empty<h6>
		{% endif %}
	</div>
</div>
{% endblock body %}
