{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="section">
<div class="row">
	<div class="card col s8 offset-s2">
		<div class="card-content" align="center">
			<span class="card-title center-align">Login</span>
			<form action="" method="POST" class="">
				{{ form.hidden_tag() }}
				<div class="input-field">
					{{ form.email(class='validate') }}
					{{ form.email.label() }}
				</div>
				<div class="input-field">
					{{ form.password(class="validate") }}
					{{ form.password.label() }}
				</div>
				<div class="input-field">
					{{ form.login(class="btn green") }}
				</div>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock body %}
