		<ul id="dropdown" class="dropdown-content">
			{% for category in category_list %}
			<li><a href="#!">{{ category.name }}</a></li>
			{% endfor %}
    	</ul>

    	<nav>
    		<div class="nav-wrapper green">
				<div class="container">
					<a href="{{ url_for('main.index') }}" class="brand-logo">Bahanapedia</a>
					<a href="" data-target="sidenav-links" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>	
					<ul class="right hide-on-med-and-down">
						<li>
							<a class="dropdown-trigger" href="#!" data-target="dropdown">
								Categories
								<i class="material-icons right">arrow_drop_down</i>
							</a
						></li>
						<li>
							<a href="#">
								<i class="tiny material-icons">shopping_cart</i>
							</a>
						</li>
						<li><a href="" class="btn-small white green-text">Login</a></li>
						<li><a href="{{ url_for('users.register') }}">Create account</a></li>
					</ul>
				</div>
    		</div> 
    	</nav>

