{% extends 'base.html' %}

{% block title %}{% endblock %}

{% include 'includes/navbar.html'  %}

{% block body %}
<div class="row">

	<!-- Profile details -->
	{% include 'includes/profile_detail.html' %}

	<div class="col s4">
		<div class="collection with-header z-depth-1">
			<div class="collection-header"><h4>Dasboard</h4></div>
			<a href="{{ url_for('users.profile', id=g.user.user_id) }}" class="collection-item">
				Update profile
			</a>
			{% if g.user.store_id is none %}
			<a href="{{ url_for('store.store_register', id=g.user.user_id) }}" class="collection-item">
					Register Store
			</a>
			{% else %}
			<a href="{{ url_for('store.store_detail', id=user.store_id) }}" class="collection-item"
				>My Store</a>
			<a href="{{ url_for('store.store_manager', id=user.store_id) }}" class="collection-item">
				Store Manager
			</a>
			{% endif %}
			<a href="{{ url_for('users.purchase_history', id=user.user_id) }}" class="collection-item">Purchase History</a>
			<a href="" class="collection-item">Basket</a>
		</div>
	</div>
	
	<div class="col s8">
		<table class="striped">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Total Price</th>
					<th>Payment Method</th>
					<th>Store Name</th>
				</tr>
			</thead>
			
			<tbody>
				{% for i in phu %}
				<tr>
					<td>{{i.name}}</td>
					<td>{{i.quantity}}</td>
					<td>{{i.total_price}}</td>
					<td>{{i.payment_name}}</td>
					<td>{{i.store_name}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
</div>
{% endblock body %}
