{% extends 'base.html' %}

{% block title %}Register user{% endblock %}

{% block body %}
<h4 class="grey-text lighten-3">Register</h4>

<div class="row">
	<form action="" method="post" class="col s12">
		{{ form.hidden_tag() }}
		<!-- firstname & lastname input fields -->
		<div class="row">
			<div class="input-field col s6">
				{{ form.firstname(class="validate")}}
				{{ form.firstname.label() }}
			</div>
			<div class="input-field col s6">
				{{ form.lastname(class="validate") }}
				{{ form.lastname.label() }}
			</div>
			<div class="input-field col s12">
				{{ form.email(class='validate') }}
				{{ form.email.label() }}
			</div>
			<div class="input-field col s6">
				{{ form.password1(class="validate") }}
				{{ form.password1.label() }}
			</div>
			<div class="input-field col s6">
				{{ form.password2(class="validate") }}
				{{ form.password2.label() }}
			</div>
			<div class="input-field">
				{{ form.submit(class="btn") }}
			</div>
		</div>
	</form>
</div>

{% endblock body %}
