{% extends 'base.html' %}

{% block title %}Register user{% endblock %}

{% block body_class %}blue-grey darken-2{% endblock body_class %}

{% block body %}
<h4 class="center-align">
	<a href="{{ url_for('main.index') }}" class="white-text">
		<i class="material-icons large">shop</i>
	</a>
</h4>
<div class="row">
	<div class="card col l6 offset-l3 s10 offsett-s1 animated bounce">
		<div class="card-content">
			<span class="card-title center-align">Register now</span>
			<form action="" method="post" class="">
				{{ form.hidden_tag() }}
				<!-- firstname & lastname input fields -->

				<div class="row">
					<div class="input-field">
						{{ form.firstname(class="validate")}}
						{{ form.firstname.label() }}
					</div>

					<div class="input-field">
						{{ form.lastname(class="validate") }}
						{{ form.lastname.label() }}
					</div>

					<!-- Email input -->
					<div class="input-field">
						{% if form.email.errors %}
							{{ form.email(class='validate') }}
							{% for error in form.email.errors %}
								<span class="helper-text red-text">{{ error }}</span>
							{% endfor %}
						{% else %}
							{{ form.email(class="validate") }}
						{% endif %}
						{{ form.email.label() }}
					</div>

					<!-- Password input -->
					<div class="input-field">
						{{ form.password1(class="validate") }}
						{{ form.password1.label() }}
					</div>
					<!-- Confirm password input -->
					<div class="input-field">
						{% if form.password2.errors %}
							{{ form.password2(class="validate") }}
							{% for error in form.password2.errors %}
								<span class="helper-text red-text">{{ error }}</span>
							{% endfor %}
						{% else %}
							{{ form.password2(class="validate") }}
						{% endif %}
						{{ form.password2.label() }}
					</div>
					<div class="input-field">
						{{ form.submit(class="btn blue-grey darken-2 right") }}
					</div>
			</form>
		</div>
		<div class="card-action center-align">
			Already an account? <a href="{{ url_for('users.user_login') }}" class="blue-grey-text darken-2">Login</a>
		</div>
	</div>
</div>
{% endblock body %}

