{% extends 'base.html' %}

{% block title %}Store Manager{% endblock title %}

{% include 'includes/store_navbar.html' %}

{% block body %}
<!-- Show the owners Products -->
<div class="card">
	<div class="card-content">
		<span class="card-title">My Products</span>
		{% if product_list %}
		<table class="highlight responsive-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Category</th>
					<th>Added on</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for product in product_list %}
				<tr>
					<td>
						<a href="{{ url_for('catalog.product_detail', id=product.product_id) }}" class="green-text">
							{{ product.name }}
						</a>
					</td>
					<td>$ {{ '%0.2f'|format(product.price|float) }}</td>
					
					<td>{{ product.category_name }}</td>
					<td>{{ product.added_on.strftime('%d %b %Y - %H:%M') }}</td>
					<td>
						<a href="{{ url_for('catalog.product_delete', id=product.product_id) }}">
							<i class="tiny material-icons red-text">clear</i>
						</a>
					</td>
					<td>
						<a href="{{ url_for('catalog.product_update', id=product.product_id) }}">
							<i class="tiny material-icons">edit_mode</i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>You don't have any products to sell yet. Start adding them first</p>
		{% endif %}
	</div>
</div>
{% endblock body %}
