{% extends 'base.html' %}

{% block title %}Store Manager{% endblock title %}

{% include 'includes/store_navbar.html' %}

{% block body %}
<!-- Show the owners Products -->
<div class="card">
	<div class="card-content">
		<span class="card-title">My Products</span>
		<table class="highlight responsive-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Category</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for product in product_list %}
				<tr>
					<td>{{ product.name }}</td>
					<td>$ {{ '%0.2f'|format(product.price|float) }}</td>
					<td class="truncate">{{ product.description }}</td>
					<td>{{ product.category_name }}</td>
					<td>
						<a href="{{ url_for('catalog.product_delete', id=product.product_id) }}">
							<i class="tiny material-icons red-text">clear</i>
						</a>
					</td>
					<td>
						<a href="{{ url_for('catalog.product_update', id=product.product_id) }}">
							<i class="tiny material-icons">edit_mode</i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock body %}
