{% extends 'base.html' %}

{% block title %}Register store{% endblock %}

{% block body_class %}green lighten-1{% endblock body_class %}

{% block body %}
<div class="center-align">
	<h4><a href="{{ url_for('users.user_dashboard', id=g.user_id) }}" class="white-text">Dashboard</a></h4>
</div>
<div class="row">
	<div class="card col s12">
		<div class="card-content">
			<span class="card-title center-align">Start Selling Today!</span>
			<form action="" method="post" class="">
				{{ form.hidden_tag() }}
				<div class="row">
					<!-- Store name input -->
					<div class="input-field">
						{{ form.name(class="validate")}}
						{{ form.name.label() }}
					</div>
					<!-- Store description input -->
					<div class="input-field">
						{{ form.about(class="materialize-textarea") }}
						{{ form.about.label() }}
					</div>
					<!-- Store address input -->
					<div class="input-field">
						{{ form.address(class='validate') }}
						{{ form.address.label() }}
					</div>

					<div class="input-field">
						{{ form.submit(class="btn green white-text") }}
					</div>
			</form>
		</div>
	</div>
</div>

{% endblock body %}
