{% extends 'base.html' %}

{% block title %}{% endblock %}

{% include 'includes/navbar.html'  %}

{% block body %}
<div class="row">

	<!-- Profile details -->
	{% include 'includes/profile_detail.html' %}

	<div class="col s4">
		<div class="collection with-header z-depth-1">
			<div class="collection-header"><h4>Dasboard</h4></div>
			<a href="{{ url_for('users.profile', id=g.user.user_id) }}" class="collection-item">Update profile</a>
			{% if g.user.store_id is none %}
				<a href="{{ url_for('store.store_register', id=g.user.user_id) }}" class="collection-item">Register Store</a>
			{% else %}
			<a href="{{ url_for('store.store_dashboard', id=g.user.store_id) }}" class="collection-item">My Store</a>
			{% endif %}
			<a href="" class="collection-item">Purchase History</a>
			<a href="" class="collection-item">Basket</a>
		</div>
	</div>
</div>
{% endblock body %}
